@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

:root {
    --background-dark: #2F1893;
    --colors-white: #fff;
    --action-third: #E93A7D;
    --colors-text: rgba(21, 20, 57, 0.40);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: var(--background-dark);
    width: 100%;
}

.container {
    max-width: 973px;
    margin: 65px auto;
}

.ulList li {
    list-style-type: none;
    align-self: center;
}

.ulList li a {
    text-decoration: none;
    color: var(--colors-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 82px;
}

.headerName {
    color: var(--colors-white);
    text-align: center;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.293px;
}

.navBar>ul {
    display: flex;
    gap: 33px;
}

.ulList li:last-child>button {
    background-color: var(--action-third);
    border-radius: 100px;
    border: transparent;
}

.ulList li:last-child>button {
    padding: 7px 20px 7px 21px;

}

.contentSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftContent {
    max-width: 424px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.leftContent>h1 {
    color: var(--colors-white);
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
}

.leftContent>p {
    width: 363px;
    color: var(--colors-white);
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}

.leftContent>button {
    width: max-content;
    border-radius: 100px;
    background-color: var(--action-third);
    border: transparent;
    padding: 12px 30px 12px 31px;
    color: var(--colors-white);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 21px;
}

.rightContent {
    height: 600px;
    width: 470px;
    border-radius: 10px;
    padding: 48px 70px 43px 70px;
    background-color: var(--colors-white);
}

.signUp {
    color: #1E0E62;
    text-align: center;
    font-family: DM Sans;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.4px;
}

.formContainer {
    margin-top: 34px;
}

.inputForm {
    width: 330px;
    height: 50px;
    /* flex-shrink: 0; */
    color: var(--colors-text, rgba(21, 20, 57, 0.40));

    /* Buttons / Middle */
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
    border-radius: 100px;
    border: 2px solid var(--colors-grey, #EBEAED);
    padding-left: 24px;
}

.Passwordcontainer {
    margin-top: 20px;
}

.agreeContainer {
    display: flex;
    gap: 13px;
    margin-top: 30.4px;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    appearance: none; 
  }

  input[type="checkbox"]::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(37, 218, 197, 1);
/*     border: 1px solid #000; */
    border-radius: 4px;
  }
  

  input[type="checkbox"]:checked::before {
    content: "\2713"; 
    font-size: 20px;
    line-height: 1; 
    text-align: center;
    background-color: rgba(37, 218, 197, 1);
  }
  
  
.agreeContainer p {
    color: var(--colors-text, rgba(21, 20, 57, 0.40));

    /* Text / Paragraph */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.submitButton {
    width: 330px;
    height: 50px;
    border-radius: 100px;
    background: var(--action-secondary, #482BE7);
    margin-top: 27.6px;
    color: var(--colors-white, #FFF);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    outline: none;
    border: none;
}

.orContainer {
    display: flex;
    margin-top: 29.5px;
}

.orContainer svg {
    margin-top: 12px;
}

.orContainer>svg {
    margin-right: 12.93px;
}

.loginTwitter {
    width: 330px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--socials-twitter, #1DA1F2);
    outline: none;
    margin-top: 29.5px;
    outline: none;
    border: none;
    color: var(--colors-white, #FFF);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
}

.signUpContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.signUpContainer>p {
    color: var(--colors-text, rgba(21, 20, 57, 0.40));
    text-align: center;

    /* Text / Article */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
}

.signUpContainer div {
    color: var(--action-primary, #25DAC5);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
}